.profileImage {
    width: 25rem !important;
    max-width: 100%;
    height: auto;
    margin: 0 auto 3rem;
    display: block;
    border-radius: 50%;
}

.externalLinkList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1rem;
}

.externalLink {
    display: flex;
    align-items: center;
}

.externalLinkSVGIcon {
    height: 2rem;
    width: auto;
}
