.simpleHeader {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

@media (min-width: 37.5rem) {
    .simpleHeader {
        display: flex;
        justify-content: space-between;
    }
}
