.layout {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer"
;
    grid-template-rows: auto 1fr auto;
    position: relative;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: var(--background-color);
    color: var(--color);
}

.main {
    grid-area: main;
    background-color: var(--background-color);
    color: var(--color);
}

.footer {
    grid-area: footer;
    background-color: var(--background-color);
    color: var(--color);
    border-top: 1px solid var(--color);
    padding: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
}
