:root {
    --background-color: #F7F7F7;
    --color: #1c1c1b;
    --link-color: #4863A9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1c1c1b;
        --color: #FFFFFF;
        --link-color: #4392F1;
    }

    html {
        color-scheme: dark;
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
        scroll-behavior: auto;
    }

    *:not(.animates-without-motion),
    *:not(.animates-without-motion)::before,
    *:not(.animates-without-motion)::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    color: rgb(var(--color));
    background: rgb(var(--background-color));
    text-rendering: optimizeLegibility;
}

p {
    margin: 0 0 1.5rem 0;
    line-height: 1.75;
}

a {
    color: var(--link-color);
    transition: color 0.2s ease-in-out;
}

a:hover, a:focus {
    color: var(--color);
}
