.link {
    display: flex;
    align-items: center;
}

.svgIcon {
    height: 2rem;
    width: auto;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
