.profileImage {
    max-width: 100%;
    width: 20rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

.introCopy {
    display: flex;
    flex-direction: column;
}

.connections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media (min-width: 37.5rem) {
    .intro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .connections {
        align-items: center;
    }
}

@media (min-width: 56.25rem) {
    .intro {
        flex-direction: column;
    }

    .connections {
        align-items: flex-start;
    }
}
