*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    margin: 1rem;
}

p {
    margin: 0 0 1rem 0;
}
